ion-button{
    --background: var(--ion-color-primary-contrast);
    --color: var(--ion-color-primary);
    position: relative;
    // margin-bottom: 10%;
    // position: absolute;
    // right: 50%;
    bottom: 0;
    // width: 80%;
    margin-top: 20%;
}

ion-input{
    --placeholder-color: var(--ion-color-primary-contrast);
    --color: var(--ion-color-secondary);
    margin-top: 5%;
    margin-bottom: 5%;
    // &:focus{
    //     --placeholder-color: var(--ion-color-light-contrast);
    //     --color: black;
    //     --ion-background-color: black;
    // }
}
ion-input:focus{
    --placeholder-color: var(--ion-color-light-contrast);
    --color: black;
    --ion-background-color: black;
}
ion-item{
    ion-label{
        --color: red;
    }
    &:focus{
        ion-label{
            --color: blue;
        }
    }
}

.name:focus{
    font-size: 200pt;
}

.everything{
    margin: 10%;
    // border: solid 1px black;
    background-color: var(--ion-color-primary);
    font: gibson-regular;
    font-size: 16pt;
    position: relative;
}

.title{
    color: var(--ion-color-secondary);
    text-align: center;
    font-size: 36pt;
    font: gibson-semibold;
}
.others{
    margin-top: 10%;
    margin-bottom: 10%;
}

img{
    padding: 10px;
}

// .textBox {

//     .hidden{
//         display: none;
//     }
//     &:focus{
//         .hidden{
//             display: block;
//         }
//     }
// }
/**
:root{
    background-color: var(--ion-color-secondary);
    --color: var(--ion-color-secondary);
}
.name{
    color: var(--ion-color-primary-contrast);
}
**/