<div class="everything">

<div class="title">Register</div>

<div class="textBox">
<p class="hidden">Full Name</p>
<ion-input class="name" placeholder="Full Name"></ion-input>
</div>

<div class="textBox">
<p class="hidden">Email</p>
<ion-input class="email" placeholder="Email"></ion-input>
</div>

<div class="textBox">
<p class="hidden">Password</p>
<ion-input class="password others" placeholder="Password"></ion-input>
</div>

<div class="textBox">
<p class="hidden">Role</p>
<ion-input class="role others" placeholder="Role"></ion-input>
</div>

<div class="textBox">
<p class="hidden">Phone Number</p>
<ion-input class="phone others" placeholder="Phone Number"></ion-input>
</div>

<ion-button expand="block"><img src="../../assets/icon/register-icon.png">Register</ion-button>

</div>
