<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-button>Button!!</ion-button>

<ion-input></ion-input>
<ion-input type="text">Full Name</ion-input>
<ion-item>
  <ion-label>Full Name 2</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label>Email</ion-label>
  <ion-input type="text"></ion-input>
</ion-item>
<ion-item>
  <ion-label>Phone Number</ion-label>
  <ion-input type="number"></ion-input>
</ion-item>

<ion-content padding>

</ion-content>
