<div class="everything">

<div class="title">Register</div>



<ion-input class="name" placeholder="Full Name"></ion-input>
<ion-input class="email" placeholder="Email"></ion-input>
<ion-input class="password others" placeholder="Password"></ion-input>
<ion-input class="role others" placeholder="Role"></ion-input>
<ion-input class="phone others" placeholder="Phone Number"></ion-input>

<ion-button expand="block"><img src="../../assets/icon/register-icon.png">Register</ion-button>
<!-- <ion-item>
  <ion-label position="floating">Full Name</ion-label>
  <ion-input class="test" no-padding (ionFocus)="hasFocus('fullName')" type="text" placeholder="Full Name"></ion-input>
</ion-item>
<ion-item>
  <ion-label color="primary" position="floating">Email</ion-label>
  <ion-input type="email" placeholder="Email"></ion-input>
</ion-item>
<ion-item>
  <ion-label color="primary"   position="floating">Password</ion-label>
  <ion-input  type="password" placeholder="Password"></ion-input>
</ion-item>
<ion-item>
    <ion-label color="primary" position="floating">Role</ion-label>
    <ion-input  type="text" placeholder="Role"></ion-input>
</ion-item>
<ion-item>
    <ion-label color="primary" position="floating">Phone Number</ion-label>
    <ion-input   type="tel" placeholder="Phone Number"></ion-input>
</ion-item> -->
</div>
