ion-button{
    --background: var(--ion-color-primary-contrast);
    --color: var(--ion-color-primary);
}

ion-input{
    --placeholder-color: var(--ion-color-primary-contrast);
    --color: var(--ion-color-secondary);
    margin-top: 5%;
    margin-bottom: 5%;
}

.everything{
    margin: 10%;
    border: solid 1px black;
}

.title{
    color: var(--ion-color-secondary);
    text-align: center;
    font-size: 3em;
}
.others{
    margin-top: 10%;
    margin-bottom: 10%;
}
/**
:root{
    background-color: var(--ion-color-secondary);
    --color: var(--ion-color-secondary);
}
.name{
    color: var(--ion-color-primary-contrast);
}
**/